<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://mec.ac.in/mec/images/favicon.png">

    <title>Lost&FoundMec</title>

    <!-- Bootstrap core CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../style/cover.css" rel="stylesheet">
    <link href="../style/signin.css" rel="stylesheet">
  

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">Found Items</h1>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/loggedin">Your Profile</a></li>
                  <li class="active"><a href="/">Log Out</a></li>

                </ul>
              </nav>
              
            </div>
          </div>


          <div class="inner cover">
              <table  id="table" style="width:100%"   border="3" >  
        <thead>  
            <tr>  
                <th>Item</th>  
                <th>Description</th>
                <th>FoundBy</th>
                <th>Email</th>
                <th>Phone</th>
                <th>FoundOn</th>      
            </tr>  
        </thead>  
         <tbody>  
         <% obj.forEach((post) => { %>
            <tr>  
                <td align="left"><%= post.item %></td>  
                <td align="left"><%= post.descr %></td>
                <td align="left"><%= post.fname %></td>
                <td align="left"><%= post.email %></td>
                <td align="left"><%= post.phone %></td>
                <td align="left"><%= post.foundon %></td>
            </tr>                                   
         <% }) %>   
         </tbody>  
            </table>
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>Lost&FoundMec, by <a href="https://github.com/athulcs">@thul</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    
  </body>
</html>
